<%= form_for [ticket, meeting] do |f| %>
  <fieldset class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 15 }, { class: "select" } %>
  </fieldset>

  <fieldset class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 15 }, { class: "select" } %>
  </fieldset>

  <div class="action">
    <%= f.submit class: "btn btn-blue" %>
  </div>
<% end %>