<main class="meeting">
  <div class="main-card">
    <section class="meeting-side-panel">
    </section>
    <section class="meeting-info">
      <h3>Your Meeting</h3>
      <div class="timeline-container">
        <p class="time-box"><%= show_meeting_datetime(@meeting.start_time) %></p>
        <p class="time-box"><%= show_meeting_datetime(@meeting.end_time) %></p>
      </div>
      <p>Linked ticket: <%= link_to @meeting.ticket.title, ticket_path(@meeting.ticket) %></p>
      <p>With: <%= set_meeting_with(current_user, @meeting) %></p>
    </section>
  </div>
  <section class="link">
    <%= link_to 'Back', meetings_path %>
  </section>
</main>