 <div>
  <div class="comment-intro">
    <div class="name-time-wrapper">
      <p class="name"><%= comment.commenter.name %></p>
      <p><%= detailed_creation_time(comment) %></p>
    </div>

    <div class="comment-links">
      <%= link_to('Delete', ticket_comment_path(comment.commented_ticket, comment), method: :delete, data: {confirm: "Are you sure?"}) if can? :destroy, comment %>
      <%= show_answer_link(comment) %>
    </div>

  </div>

  <div class="comment-content">
    <p><%= comment.body %></p>
  </div>
</div> 