<div class="ticket-form">
  <% if ticket.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for ticket do |f| %>
    <fieldset class="field">
      <%= f.text_field :title, autofocus: true, placeholder: 'Title...', class: 'ticket-post-title' %>
    </fieldset>

    <fieldset class="field">
      <%= f.text_area :description, placeholder: 'describe your challenge ...', class: 'ticket-post-body' %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :attachment, 'attch a screenshot' %>
      <%= f.file_field :attachment %>
    </fieldset>

    <label>pick topics</label>
    <div data-controller="nested-form" class="topic-form">
      <template data-target="nested-form.template">
        <%= f.fields_for :topics, @ticket.topics.build, child_index: 'TEMPLATE_RECORD' do |topic| %>
          <%= render '/topics/fields', form: topic %>
        <% end %>
      </template>

      <%= f.fields_for :topics do |topic| %>
        <%= render 'topics/fields', form: topic %>
      <% end %>

      <div data-target="nested-form.add_item" class="topic-add">
        <%= link_to "#", data: { action: "nested-form#add_association" } do %>
          <i class="far fa-plus-square"></i>
        <% end %>
      </div>
    </div>

    <div class="action">
      <%= f.submit class: "btn btn-blue" %>
    </div>
  <% end %>
</div>