<div class="ticket-card">
  <%= render partial: 'user_preview', locals: { user: ticket.submitter, resource: ticket } %>
  <%= ticket_status(ticket) %>

  <div class="ticket-card__content">
    <h4 class="ticket-title"><%= ticket.title %></h4>
    <p class="ticket-body"><%= truncate(ticket.description, length: 80) %></p>
  </div>

  <div class="ticket-card__link">
    <%= link_to ticket_path(ticket) do %>
      <p>View Ticket</p>
      <i class="fas fa-angle-right"></i>
    <% end %>
  </div>
</div>