<main class="ticket-show">
  <article class="ticket-show__content">
    <h2><%= @ticket.title %></h2>

    <%= render partial: 'tickets/user_preview', locals: { user: @ticket.submitter, resource: @ticket } %>

    <%= ticket_status(@ticket) %>

    <% if @ticket.attachment.present? %>
      <div class="ticket-show__attachment">
        <%= image_tag @ticket.attachment.variant(resize_to_limit: [480, nil]) %>
      </div>
    <% end %>

    <p class="ticket-show__description"><%= @ticket.description %></p>

    <ul class="ticket-show__topics">
      <%= render @ticket.topics %>
    </ul>

    <section class="ticket-show__comments">
      <h4>Comments</h4>
      <%= render(@ticket.comments) || 'No comments yet.' %>
    </section>

    <ul class="ticket-show__links">
      <div class="back-edit-links">
        <%= link_to 'Back', tickets_path %>
        <%= link_to 'Edit', edit_ticket_path(@ticket) if can? :update, @ticket %>
      </div>
      <div class="delete-btn">
        <%= link_to 'Delete', ticket_path(@ticket), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-pink' if can? :destroy, @ticket %>
      </div>
    </ul>
  </article>

  <aside class="ticket-show__actions">
    <div><%= toggle_resolve_link(@ticket) %></div>
    <div><%= set_faq_link(@ticket) unless current_user.member? %></div>

    <% if @ticket.meetings.present? %>
      <p>Scheduled meetings:</p>
      <% @ticket.meetings.each do |meeting| %>
        <%= show_meeting_on_ticket(meeting) %>
      <% end %>
    <% end %>
    <div>
      <%= link_to 'Request a new meeting', new_ticket_meeting_path(@ticket.id), class: 'lnk lnk-action' unless current_user.member? %>
    </div>

    <br>

    <% if can? :create, Task %>
      <div>
        <%= ticket_task_link(@ticket) %>
      </div>
    <% end %>
    
    <div class="comment-form">
      <%= render partial: 'comments/form', locals: { ticket: @ticket, comment: @ticket.comments.build } %>
    </div>
    
  </section>
  </aside>
</main>