<h2><%= @ticket.title %></h2>
<p>
  <em>By <%= @ticket.submitter.email %></em>
</p>
<p>
  <%= @ticket.description %>
</p>

<%= link_to 'Back', tickets_path %> <br>
<%= link_to 'Edit', edit_ticket_path(@ticket) %>