<main class="ticket-show">
  <article class="ticket-show__content">
    <h2><%= @ticket.title %></h2>

    <%= render partial: 'user_preview', locals: { user: @ticket.submitter, resource: @ticket } %>

    <%= ticket_status(@ticket) %>

    <% if @ticket.attachment.present? %>
      <div class="ticket-show__attachment">
        <%= image_tag @ticket.attachment.variant(resize_to_limit: [270, nil]) %>
      </div>
    <% end %>

    <p class="ticket-show__description"><%= @ticket.description %></p>

    <ul class="ticket-show__topics">
      <%= render @ticket.topics %>
    </ul>

    <ul class="ticket-show__comments" id="comments" data-ticket-id="<%= @ticket.id %>">
      <%= render(@ticket.comments) || 'No comments yet.' %>
    </ul>

    <ul class="ticket-show__links">
      <%= link_to 'Back', tickets_path %>
      <%= link_to 'Edit', edit_ticket_path(@ticket) %>
    </ul>
  </article>

  <aside class="ticket-show__actions">
    <div><%= toggle_status_link(@ticket) %></div>

    <a href="#">Request a meeting</a>

    <%= render partial: 'comments/form', locals: { comment: @ticket.comments.build } %>
  </aside>
</main>