<!DOCTYPE html>
<html>
  <head>
    <title>TicketyBoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/962471347a.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    
    <%= show_notification %>

    <%= render 'shared/header' %>

    <%= yield %>

  </body>

</html>
