<!DOCTYPE html>
<html>
  <head>
    <title>TicketyBoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

    <%= render 'shared/header' %>

    <section class="notification">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>

    <%= yield %>

    <%= render 'shared/footer' %>

  </body>

</html>
